p {
    font-family: 'Oxanium';
}
.mainheader {
    text-align: center;
    background-color: #5a5a00;
}
.intro{
    font-family: 'Oxanium';
    color: navy;
}
.thetestbutton {
    font-size: 12px;
    background-color:darkslategrey;
    border-style: dotted;
    border-color: chartreuse;
    color: blue;
    width: 79px;
    height: 45px;
    cursor: crosshair;
    border-radius: 12px;
    margin-top: 50px;
    transition: opacity 0.15s;
    transition: background-color 1s, color 1s;
  }

  .thetestbutton:hover {
    background-color: darkgreen;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .thetestbutton:active {
    background-color: black;
    color: black;
  }
.tagline {
    color: #dfe5f3;
    text-decoration: none;
    background-image: linear-gradient(#5a5a00, #5a5a00),
      linear-gradient(rgb(204, 0, 255), rgb(204, 0, 255)),
      linear-gradient(#00eeff, #00eeff);
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s linear, background-position 0.2s linear;
}
    .tagline:hover {
        background-size: 20px 2px, 0 2px, 100% 2px;
        background-position: calc(100% + 5px) 100%, 100% 100%, 0 100%;
}
.thumbnail {
    width: auto;
    border-color: black;
    object-fit: contain;
    border: 2px;
    border-style: double;
    display: inline;

}

.laugh-box {
    font-family: 'Oxanium';
    display: block;
    margin-bottom: 10px;
}

.tank-buy-offer {
    display: flex;
    flex-direction: row;
}   

.tank-desc {
    display: inline;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 6px;

}
.tank-title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}

.pricing {
    margin-top: 0;
    margin-bottom: 5px;
}

.tank-info {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.new-price {
    color: green;
    margin-left: 7px;

}

.company {
    margin-top: 0;
}

.new-price:hover {
    text-decoration: underline;
    color: purple;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

.tank-text-details {
    display: flex;
    flex-direction: column;
}
